[submodule "moon-blockchain-gui"]
	path = moon-blockchain-gui
	url = https://github.com/comamny/moon-blockchain-guii.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
